* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eaeaeac2;
  display: flex;
  justify-content: center;
  padding: 100px 10px;
}

.container {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 6px;
}

.app-header {
  text-align: center;
  margin-bottom: 10px;
}

.input-section {
  margin-bottom: 20px;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  border: none;
  background: #4c8baf;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.list-section {
  padding-left: 15px;
}
.clear-btn {
  background: #e74c3c;
}

li {
  background: #dedede4f;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 10px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}
