:root {
  --btn-color: #4c8baf;
  --background-color: #e2e1e1;
  --card-color: #ffffff;
  --task-bg: #faf3c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  padding: 100px 10px;
}

.container {
  background: var(--card-color);
  width: 550px;
  padding: 20px;
  border-radius: 6px;
}

.app-header {
  text-align: center;
  margin-bottom: 10px;
}

.input-section {
  margin-bottom: 20px;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  border: none;
  background: var(--btn-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  opacity: 0.9;
  transition: 0.2s ease;
}

.list-section {
  padding-left: 15px;
}

.clear-btn {
  background: var(--btn-color);
}

li {
  background: var(--task-bg);
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 10px;
  font-size: 1rem;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5); 
}

.delete-btn{
  background-color: red;
}
